#header.header-scrolled {
  background: rgba(4, 9, 30, 0.75);
}

ul.nav-menu a {
  font-weight: 500;
}

ul.nav-menu a:hover {
  transform: translateY(-3px);
}

@font-face {
  font-family: "RoundMonoLeft";
  src: url("../fonts/Round_Monogram_Left.ttf");
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf");
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopify:before {
  content: "\e900";
  color: #7ab55c;
  font-size: 3rem;
}

.wordpress-icon > i {
  font-size: 3rem;
  color: #777;
}

.icon-shopify,
.wordpress-icon {
  right: 25px;
  top: 10px;
  position: absolute;
  z-index: 1;
}

span.wix-icon {
  right: 25px;
  top: -6px;
  position: absolute;
  z-index: 1;
}

.wix-icon img {
  width: 5rem;
  height: auto;
}

.close-icon {
  position: absolute;
  z-index: 1;
  font-size: 2rem;
  top: 2.5em;
  width: 85%;
  text-align: right;
  cursor: pointer;
}
div#logo {
  padding: 7px 0;
}

a.logo-container span:first-child {
  display: inline;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.25em;
  font-family: RoundMonoLeft;
  letter-spacing: 0.1em;
  text-align: right;
  border-bottom: 2.25px solid #ffffffb3;
  position: relative;
  top: -5px;
  right: -1px;
  padding-bottom: 0.12em;
  padding-right: 2px;
  padding-left: 6px;
}

a.logo-container span:last-child {
  font-size: 14px;
  line-height: 1em;
  font-weight: 500;
  padding: 4px 4px 5px 0px;
  width: 82px;
  display: inline-block;
  position: relative;
  top: -2.25px;
  left: 1px;
  border: 2.25px solid #ffffffb3;
  border-left-width: 2.25px;
  color: #ffffffb3;
  border-left-width: 0;
}

div.about-me-left p {
  color: #bdbdbd;
}

section#contact div.title h1 {
  margin-bottom: 6rem;
  margin-left: -0.9em;
}

section#contact div.title p {
  background: #ccc;
  padding: 0.5em 1em;
  color: white;
  position: absolute;
  top: 50px;
  z-index: -1;
  right: 0;
  text-shadow: -1px 2px rgb(0 0 0 / 8%);
}

section#about {
  background-color: #2b2c33;
}

.right-110 {
  right: 110px !important;
}

.footer-text {
  color: #bdbdbd;
}

section.recent-project-lightbox-area {
  position: fixed;
  background: rgb(0 0 0 / 62%);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1112;
  padding-top: 6rem;
}

section.recent-project-lightbox-area .container-fluid {
  height: auto;
  width: 85.25%;
  margin: 0 auto;
  border-radius: 10px;
}

section.recent-project-lightbox-area img.mock-up-sample {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 0 0 10px;
}

section.recent-project-lightbox-area h1 {
  font-size: 2em;
}

section.recent-project-lightbox-area p {
  font-size: 1em;
}

#website-text-info p {
  line-height: 1.5em;
}

ul.task-list > li {
  list-style-type: disc;
  margin-left: 1.2rem;
  text-align: left;
}

.contacts-icon-wrap li {
  text-align: left;
  margin-bottom: 1em;
}

span.contact-icon {
  width: 100%;
  height: auto;
  display: inline-block;
}

span.contact-icon > span {
  line-height: 1.1em;
  padding: 0.3em 0.5em;
  font-weight: bold;
}

span.contact-icon img {
  width: 35px;
  height: 100%;
  margin: 0 2px;
}

span.contact-icon i.fa-skype {
  color: #00aae9;
  font-size: 40px;
}

.show-sm {
  display: none;
}

@media (max-width: 1280px) {
  section.recent-project-lightbox-area > div.container-fluid {
    overflow: scroll;
    height: 95%;
    padding-bottom: 1.5rem;
  }

  section.recent-project-lightbox-area > div.container-fluid > div > div {
    flex: 0 0 100%;
    max-width: 100%;
  }

  section.recent-project-lightbox-area img.mock-up-sample {
    margin-top: -2.5em;
    object-position: bottom !important;
  }

  #website-text-info {
    padding-top: 0 !important;
  }
}

@media (max-width: 1024px) {
  div.course-right div:first-child {
    margin-top: -0.1rem;
  }

  div.course-right div:last-child {
    margin-top: -1.15rem;
  }

  section.faq-area div.row > div.col-lg-6 h1 {
    font-size: 1.8rem;
    margin-left: 0rem !important;
  }

  section.faq-area div.row > div.col-lg-6 p {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  #mobile-nav-toggle {
    padding-top: 1rem;
  }

  #about-me-pp {
    display: none;
  }

  div.course-right div:first-child {
    margin-top: 0;
  }

  div.course-right div:last-child {
    margin-top: 0;
  }

  section.faq-area div.row > div.col-lg-6 h1 {
    text-align: center !important;
  }

  section.faq-area div.row > div.col-lg-6:first-child p {
    right: 12rem !important;
  }

  section.faq-area div.row > div.col-lg-6:last-child p {
    right: 12vw !important;
  }

  span.contact-icon {
    width: 60%;
    margin: 0 auto;
  }

  div.faq-right {
    margin-bottom: 3.5rem;
  }
}

@media (max-width: 500px) {
  #hero-text-wrap {
    margin: 4rem 0 0 !important;
  }

  #hero-text-wrap h1 {
    font-size: 1.2rem;
  }

  #hero-text-wrap p {
    font-size: 0.8rem;
    margin-bottom: 0 !important;
  }

  #hero-text-wrap a {
    font-size: 0.75rem;
    padding: 0 25px;
  }

  .service-area .header-text h1,
  .top-course-area h1,
  .unique-feature-area h1 {
    font-size: 1.8rem;
    margin-bottom: 0.2rem;
  }

  .top-course-area .menu-content {
    padding-bottom: 20px;
  }

  .top-course-area .row,
  .unique-feature-area .row {
    padding: 0 1.2rem;
  }

  section.section-gap {
    padding: 60px 0;
    margin: 0 !important;
  }

  section.recent-project-lightbox-area > div.container-fluid {
    padding-bottom: 0;
  }

  section.recent-project-lightbox-area img.mock-up-sample {
    margin-top: 0;
  }

  .show-sm {
    display: unset;
  }

  .hide-sm {
    display: none;
  }

  div#accordion {
    padding: 2.5rem 1rem 0 !important;
  }

  section.faq-area div.row > div.col-lg-6 h1 {
    font-size: 1.4rem;
  }

  section.faq-area div.row > div.col-lg-6 h1 {
    margin-bottom: 4.5rem !important;
  }

  section.faq-area div.row > div.col-lg-6:first-child p {
    right: 2.5rem !important;
    top: 40px !important;
  }

  section.faq-area div.row > div.col-lg-6:last-child p {
    right: 0.5rem !important;
    padding: 0.5em 0.3rem !important;
    margin: 0 0.5rem;
  }

  .faq-left .card-header .btn-link {
    font-size: 0.8em;
  }

  .footer-text {
    font-size: 0.75rem;
    text-align: center;
    padding-top: 12px;
  }
}

@media (max-width: 376px) {
  section.faq-area div.row > div.col-lg-6:first-child p {
    right: 1rem !important;
  }

  section.faq-area div.row > div.col-lg-6:last-child p {
    right: 0rem !important;
    padding: 0.5em 0.3rem !important;
    margin: 0 1rem;
  }
}

@media (max-width: 320px) {
  section.faq-area div.row > div.col-lg-6:first-child p {
    right: 0rem !important;
    margin: 0 1rem;
  }

  section.faq-area div.row > div.col-lg-6 h1 {
    margin-bottom: 6rem !important;
  }

  section.faq-area div.row > div.col-lg-6:last-child p {
    margin-top: 1.1rem;
  }

  .faq-left .card-header .btn-link {
    padding: 0.1rem 0.2rem;
  }

  div.faq-right {
    margin-bottom: 1.5rem;
  }

  div#accordion {
    padding: 0 !important;
  }
}
